.jumbotron {
  background-color: #ffc34d;
  border: solid;
  border-color: #ff8080;
  color: #ffffff;
  padding: 20px;
}

.btnjumbo {
  background-color: #4db8ff;
  border-color: #f2f2f2;
}

.btnjumbo:hover {
  background-color: #4db8ff;
  border-color: #f2f2f2;
}

.glyphicon {
  float:right;
  font-size: 85px;
}

.container {
  margin: 2%;
  padding: 2%;
}
.questions {
  display: none;
  border: solid;
  border-color: #f2f2f2;
  border-radius: 3%;
  background-color: #f2f2f2;
  padding: 2%;
}

.radio img {
  width: 150px;
  height: 150px;
}

.results {
  display: none;
  border: solid;
  border-color: #f2f2f2;
  border-radius: 3%;
  background-color: #f2f2f2;
  padding: 2%;
}

.results img {
  max-width: 300px;
}
